{
  "env": {
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 2017
  },
  "globals": {
  },
  "rules": {
    "brace-style": [1, "1tbs", { "allowSingleLine": true }],
    "quotes": [2, "single"],
    "strict": 2,
    "semi": 2
  }
}
